In [1]:
# 首先 import 必要的模块
import pandas as pd 
import numpy as np

from sklearn.model_selection import GridSearchCV

#竞赛的评价指标为logloss
from sklearn.metrics import log_loss  

from matplotlib import pyplot
import seaborn as sns
%matplotlib inline

# 读取数据
# path to where the data lies
dpath = '../../data/'
train = pd.read_csv(dpath +"Otto_train.csv")
train.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [2]:
# drop ids and get labels
y_train = train["target"]
y_train = y_train.map(lambda s: s[6:])
y_train = y_train.map(lambda s: int(s)-1)

train = train.drop(["id", "target"], axis=1)
X_train = np.array(train)
X_train

array([[ 1,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 0,  0,  0, ...,  0,  0,  0],
       ...,
       [ 0,  0,  0, ...,  0,  0,  0],
       [ 1,  0,  0, ...,  3, 10,  0],
       [ 0,  0,  0, ...,  0,  2,  0]])

In [3]:
# 数据标准化
from sklearn.preprocessing import StandardScaler

# 初始化特征的标准化器
ss_X = StandardScaler()

# 分别对训练和测试数据的特征进行标准化处理
X_train = ss_X.fit_transform(X_train)
X_train

/usr/local/python36/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[ 0.40209324, -0.21010603, -0.30716546, ..., -0.12951551,
        -0.38693809, -0.10496314],
       [-0.25350808, -0.21010603, -0.30716546, ..., -0.12951551,
        -0.38693809, -0.10496314],
       [-0.25350808, -0.21010603, -0.30716546, ..., -0.12951551,
        -0.38693809, -0.10496314],
       ...,
       [-0.25350808, -0.21010603, -0.30716546, ..., -0.12951551,
        -0.38693809, -0.10496314],
       [ 0.40209324, -0.21010603, -0.30716546, ...,  1.33702606,
         9.792457  , -0.10496314],
       [-0.25350808, -0.21010603, -0.30716546, ..., -0.12951551,
         1.64894093, -0.10496314]])

In [4]:
y_train

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
61848    8
61849    8
61850    8
61851    8
61852    8
61853    8
61854    8
61855    8
61856    8
61857    8
61858    8
61859    8
61860    8
61861    8
61862    8
61863    8
61864    8
61865    8
61866    8
61867    8
61868    8
61869    8
61870    8
61871    8
61872    8
61873    8
61874    8
61875    8
61876    8
61877    8
Name: target, Length: 61878, dtype: int64

In [5]:
from joblib import dump

dump(X_train, './X_train.joblib_dat')
dump(y_train, './y_train.joblib_dat')

['./y_train.joblib_dat']