In [314]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
import gc
import os

In [315]:
dRange = pd.date_range(date(2017,8,1), date(2017,8,15))
print("dRange", dRange[0])
print("dRange", dRange.size)

#for i in range(0, dRange.size):
#    print("dRange each ", dRange[i])

#for(eachDate in dRange):
#    print("eachDate ", eachDate)
#get a dateRange, start date, periods.
rangeDt = pd.date_range(date(2017,8,1) - timedelta(days=3), periods=15, freq='D')
print("range dt ", rangeDt)

dRange 2017-08-01 00:00:00
dRange 15
range dt  DatetimeIndex(['2017-07-29', '2017-07-30', '2017-07-31', '2017-08-01',
               '2017-08-02', '2017-08-03', '2017-08-04', '2017-08-05',
               '2017-08-06', '2017-08-07', '2017-08-08', '2017-08-09',
               '2017-08-10', '2017-08-11', '2017-08-12'],
              dtype='datetime64[ns]', freq='D')

In [316]:
df_train = pd.read_csv(
    '../../../data/favgrocery/trainDay.csv', usecols=[1, 2, 3, 4, 5],
    converters={'unit_sales': lambda u: np.log1p(
        float(u)) if float(u) > 0 else 0},
    parse_dates=["date"]
)
#drop NA values
df_train = df_train.dropna(axis = 0, how ='any')
#convert one column data type to be bool
df_train = df_train.astype({"onpromotion":'bool'})


df_test = pd.read_csv(
    "../../../data/favgrocery/test.csv", usecols=[0, 1, 2, 3, 4],
    parse_dates=["date"]  # , date_parser=parser
).set_index(
    ['store_nbr', 'item_nbr', 'date']
)
df_test = df_test.dropna(axis = 0, how ='any')
df_test = df_test.astype({"onpromotion":'bool'})

In [317]:
print("df_train ", df_train.shape)
print("df_test shape ", df_test.shape)

print("df_train columns ", df_train.columns)
print("df_train column item_nbr all values ", df_train["item_nbr"].values)

print("df_train top5  ")
print(df_train[:5])

df_train  (1233, 5)
df_test shape  (3370464, 2)
df_train columns  Index(['date', 'store_nbr', 'item_nbr', 'unit_sales', 'onpromotion'], dtype='object')
df_train column item_nbr all values  [103520 103520 103520 ... 103520 103665 103665]
df_train top5
          date  store_nbr  item_nbr  unit_sales  onpromotion
455 2014-04-01          1    103520    0.693147        False
456 2014-04-02          1    103520    0.693147        False
457 2014-04-03          1    103520    1.609438        False
458 2014-04-04          1    103520    1.098612        False
459 2014-04-05          1    103520    0.693147        False

In [318]:
items = pd.read_csv(
    "../../../data/favgrocery/items.csv",
)
print("items origin ", items[:5])
items = items.set_index("item_nbr")
print("items after set_index:")
print(items[:5])

stores = pd.read_csv(
    "../../../data/favgrocery/stores.csv",
)
stores = stores.set_index("store_nbr")
print("stores after set_index:")
print(stores[:5])

items origin     item_nbr        family  class  perishable
0     96995     GROCERY I   1093           0
1     99197     GROCERY I   1067           0
2    103501      CLEANING   3008           0
3    103520     GROCERY I   1028           0
4    103665  BREAD/BAKERY   2712           1
items after set_index:
                family  class  perishable
item_nbr
96995        GROCERY I   1093           0
99197        GROCERY I   1067           0
103501        CLEANING   3008           0
103520       GROCERY I   1028           0
103665    BREAD/BAKERY   2712           1
stores after set_index:
                    city                           state type  cluster
store_nbr
1                  Quito                       Pichincha    D       13
2                  Quito                       Pichincha    D       13
3                  Quito                       Pichincha    D        8
4                  Quito                       Pichincha    D        9
5          Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [319]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
ftTransformFamily = le.fit_transform(items['family'].values)
print("ftTransformFamily ", ftTransformFamily)
items['family'] = ftTransformFamily

stores['city'] = le.fit_transform(stores['city'].values)
stores['state'] = le.fit_transform(stores['state'].values)
stores['type'] = le.fit_transform(stores['type'].values)
print("city ", stores['city'][:5])

ftTransformFamily  [12 12  7 ... 12  3 22]
city  store_nbr
1    18
2    18
3    18
4    18
5    21
Name: city, dtype: int64

In [320]:
#filter according to criteria on one column 
df_2017 = df_train.loc[df_train["date"]>=pd.datetime(2017,1,1)]
print("df_2017 top5", df_2017[:5])

df_2017 top5            date  store_nbr  item_nbr  unit_sales  onpromotion
1461 2017-01-01         25     99197    0.693147        False
1462 2017-01-02          1    103520    0.693147        False
1463 2017-01-03          1     99197    1.386294        False
1464 2017-01-04          1     99197    0.693147        False
1465 2017-01-05          1     99197    0.693147        False

In [321]:
indexedDF= df_2017.set_index(["store_nbr", "item_nbr", "date"])
print("indexedDF: ")
print(indexedDF[:8])
#in addition to index, only get the onpromotion column.
gotOnpromote = indexedDF[["onpromotion"]]
print("gotOnpromote promote [[\"onpromotion\"]] ")
print(gotOnpromote[:5])

#unstack from index column.  default -1 (last level) actually it is date.
promo_2017_train = gotOnpromote.unstack(level=-1).fillna(False)
print("promo_2017_train top5", promo_2017_train[:5])

indexedDF:
                               unit_sales  onpromotion
store_nbr item_nbr date
25        99197    2017-01-01    0.693147        False
1         103520   2017-01-02    0.693147        False
          99197    2017-01-03    1.386294        False
                   2017-01-04    0.693147        False
                   2017-01-05    0.693147        False
                   2017-01-06    0.693147        False
                   2017-01-07    1.098612        False
          103665   2017-01-08    1.098612        False
gotOnpromote promote [["onpromotion"]]
                               onpromotion
store_nbr item_nbr date
25        99197    2017-01-01        False
1         103520   2017-01-02        False
          99197    2017-01-03        False
                   2017-01-04        False
                   2017-01-05        False
promo_2017_train top5                    onpromotion                                              \
date                2017-01-01 2017-01-02 2017-01-03 2017-01-04 2017-01-05
store_nbr item_nbr
1         96995          False      False      False      False      False
          99197          False      False      False      False      False
          103520         False      False      False      False      False
          103665         False      False      False      False      False
          105574         False      False      False      False      False

                                                                           \
date               2017-01-06 2017-01-07 2017-01-08 2017-01-09 2017-01-10
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False

                      ...                                                  \
date                  ...     2017-08-06 2017-08-07 2017-08-08 2017-08-09
store_nbr item_nbr    ...
1         96995       ...          False      False      False      False
          99197       ...          False      False      False      False
          103520      ...          False      False      False      False
          103665      ...          False      False      False      False
          105574      ...          False      False      False      False

                                                                           \
date               2017-08-10 2017-08-11 2017-08-12 2017-08-13 2017-08-14
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False


date               2017-08-15
store_nbr item_nbr
1         96995         False
          99197         False
          103520        False
          103665        False
          105574        False

[5 rows x 227 columns]

In [322]:
print("promo_2017_train top5 ", promo_2017_train[:5])
print(" promo_2017_train.columns columns ",  promo_2017_train.columns)
print(" promo_2017_train.columns columns  get_level_values ",  promo_2017_train.columns.get_level_values(1))
promo_2017_train.columns = promo_2017_train.columns.get_level_values(1)
print("promo_2017_train set columns  top 5")
print(promo_2017_train[:5])

promo_2017_test = df_test[["onpromotion"]].unstack(level=-1).fillna(False)
promo_2017_test.columns = promo_2017_test.columns.get_level_values(1)
promo_2017_test = promo_2017_test.reindex(promo_2017_train.index).fillna(False)

promo_2017 = pd.concat([promo_2017_train, promo_2017_test], axis=1)
del promo_2017_test, promo_2017_train

promo_2017_train top5                     onpromotion                                              \
date                2017-01-01 2017-01-02 2017-01-03 2017-01-04 2017-01-05
store_nbr item_nbr
1         96995          False      False      False      False      False
          99197          False      False      False      False      False
          103520         False      False      False      False      False
          103665         False      False      False      False      False
          105574         False      False      False      False      False

                                                                           \
date               2017-01-06 2017-01-07 2017-01-08 2017-01-09 2017-01-10
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False

                      ...                                                  \
date                  ...     2017-08-06 2017-08-07 2017-08-08 2017-08-09
store_nbr item_nbr    ...
1         96995       ...          False      False      False      False
          99197       ...          False      False      False      False
          103520      ...          False      False      False      False
          103665      ...          False      False      False      False
          105574      ...          False      False      False      False

                                                                           \
date               2017-08-10 2017-08-11 2017-08-12 2017-08-13 2017-08-14
store_nbr item_nbr
1         96995         False      False      False      False      False
          99197         False      False      False      False      False
          103520        False      False      False      False      False
          103665        False      False      False      False      False
          105574        False      False      False      False      False


date               2017-08-15
store_nbr item_nbr
1         96995         False
          99197         False
          103520        False
          103665        False
          105574        False

[5 rows x 227 columns]
 promo_2017_train.columns columns  MultiIndex(levels=[['onpromotion'], [2017-01-01 00:00:00, 2017-01-02 00:00:00, 2017-01-03 00:00:00, 2017-01-04 00:00:00, 2017-01-05 00:00:00, 2017-01-06 00:00:00, 2017-01-07 00:00:00, 2017-01-08 00:00:00, 2017-01-09 00:00:00, 2017-01-10 00:00:00, 2017-01-11 00:00:00, 2017-01-12 00:00:00, 2017-01-13 00:00:00, 2017-01-14 00:00:00, 2017-01-15 00:00:00, 2017-01-16 00:00:00, 2017-01-17 00:00:00, 2017-01-18 00:00:00, 2017-01-19 00:00:00, 2017-01-20 00:00:00, 2017-01-21 00:00:00, 2017-01-22 00:00:00, 2017-01-23 00:00:00, 2017-01-24 00:00:00, 2017-01-25 00:00:00, 2017-01-26 00:00:00, 2017-01-27 00:00:00, 2017-01-28 00:00:00, 2017-01-29 00:00:00, 2017-01-30 00:00:00, 2017-01-31 00:00:00, 2017-02-01 00:00:00, 2017-02-02 00:00:00, 2017-02-03 00:00:00, 2017-02-04 00:00:00, 2017-02-05 00:00:00, 2017-02-06 00:00:00, 2017-02-07 00:00:00, 2017-02-08 00:00:00, 2017-02-09 00:00:00, 2017-02-10 00:00:00, 2017-02-11 00:00:00, 2017-02-12 00:00:00, 2017-02-13 00:00:00, 2017-02-14 00:00:00, 2017-02-15 00:00:00, 2017-02-16 00:00:00, 2017-02-17 00:00:00, 2017-02-18 00:00:00, 2017-02-19 00:00:00, 2017-02-20 00:00:00, 2017-02-21 00:00:00, 2017-02-22 00:00:00, 2017-02-23 00:00:00, 2017-02-24 00:00:00, 2017-02-25 00:00:00, 2017-02-26 00:00:00, 2017-02-27 00:00:00, 2017-02-28 00:00:00, 2017-03-01 00:00:00, 2017-03-02 00:00:00, 2017-03-03 00:00:00, 2017-03-04 00:00:00, 2017-03-05 00:00:00, 2017-03-06 00:00:00, 2017-03-07 00:00:00, 2017-03-08 00:00:00, 2017-03-09 00:00:00, 2017-03-10 00:00:00, 2017-03-11 00:00:00, 2017-03-12 00:00:00, 2017-03-13 00:00:00, 2017-03-14 00:00:00, 2017-03-15 00:00:00, 2017-03-16 00:00:00, 2017-03-17 00:00:00, 2017-03-18 00:00:00, 2017-03-19 00:00:00, 2017-03-20 00:00:00, 2017-03-21 00:00:00, 2017-03-22 00:00:00, 2017-03-23 00:00:00, 2017-03-24 00:00:00, 2017-03-25 00:00:00, 2017-03-26 00:00:00, 2017-03-27 00:00:00, 2017-03-28 00:00:00, 2017-03-29 00:00:00, 2017-03-30 00:00:00, 2017-03-31 00:00:00, 2017-04-01 00:00:00, 2017-04-02 00:00:00, 2017-04-03 00:00:00, 2017-04-04 00:00:00, 2017-04-05 00:00:00, 2017-04-06 00:00:00, 2017-04-07 00:00:00, 2017-04-08 00:00:00, 2017-04-09 00:00:00, 2017-04-10 00:00:00, 2017-04-11 00:00:00, 2017-04-12 00:00:00, 2017-04-13 00:00:00, 2017-04-14 00:00:00, 2017-04-15 00:00:00, 2017-04-16 00:00:00, 2017-04-17 00:00:00, 2017-04-18 00:00:00, 2017-04-19 00:00:00, 2017-04-20 00:00:00, 2017-04-21 00:00:00, 2017-04-22 00:00:00, 2017-04-23 00:00:00, 2017-04-24 00:00:00, 2017-04-25 00:00:00, 2017-04-26 00:00:00, 2017-04-27 00:00:00, 2017-04-28 00:00:00, 2017-04-29 00:00:00, 2017-04-30 00:00:00, 2017-05-01 00:00:00, 2017-05-02 00:00:00, 2017-05-03 00:00:00, 2017-05-04 00:00:00, 2017-05-05 00:00:00, 2017-05-06 00:00:00, 2017-05-07 00:00:00, 2017-05-08 00:00:00, 2017-05-09 00:00:00, 2017-05-10 00:00:00, 2017-05-11 00:00:00, 2017-05-12 00:00:00, 2017-05-13 00:00:00, 2017-05-14 00:00:00, 2017-05-15 00:00:00, 2017-05-16 00:00:00, 2017-05-17 00:00:00, 2017-05-18 00:00:00, 2017-05-19 00:00:00, 2017-05-20 00:00:00, 2017-05-21 00:00:00, 2017-05-22 00:00:00, 2017-05-23 00:00:00, 2017-05-24 00:00:00, 2017-05-25 00:00:00, 2017-05-26 00:00:00, 2017-05-27 00:00:00, 2017-05-28 00:00:00, 2017-05-29 00:00:00, 2017-05-30 00:00:00, 2017-05-31 00:00:00, 2017-06-01 00:00:00, 2017-06-02 00:00:00, 2017-06-03 00:00:00, 2017-06-04 00:00:00, 2017-06-05 00:00:00, 2017-06-06 00:00:00, 2017-06-07 00:00:00, 2017-06-08 00:00:00, 2017-06-09 00:00:00, 2017-06-10 00:00:00, 2017-06-11 00:00:00, 2017-06-12 00:00:00, 2017-06-13 00:00:00, 2017-06-14 00:00:00, 2017-06-15 00:00:00, 2017-06-16 00:00:00, 2017-06-17 00:00:00, 2017-06-18 00:00:00, 2017-06-19 00:00:00, 2017-06-20 00:00:00, 2017-06-21 00:00:00, 2017-06-22 00:00:00, 2017-06-23 00:00:00, 2017-06-24 00:00:00, 2017-06-25 00:00:00, 2017-06-26 00:00:00, 2017-06-27 00:00:00, 2017-06-28 00:00:00, 2017-06-29 00:00:00, 2017-06-30 00:00:00, 2017-07-01 00:00:00, 2017-07-02 00:00:00, 2017-07-03 00:00:00, 2017-07-04 00:00:00, 2017-07-05 00:00:00, 2017-07-06 00:00:00, 2017-07-07 00:00:00, 2017-07-08 00:00:00, 2017-07-09 00:00:00, 2017-07-10 00:00:00, 2017-07-11 00:00:00, 2017-07-12 00:00:00, 2017-07-13 00:00:00, 2017-07-14 00:00:00, 2017-07-15 00:00:00, 2017-07-16 00:00:00, 2017-07-17 00:00:00, 2017-07-18 00:00:00, 2017-07-19 00:00:00, 2017-07-20 00:00:00, 2017-07-21 00:00:00, 2017-07-22 00:00:00, 2017-07-23 00:00:00, 2017-07-24 00:00:00, 2017-07-25 00:00:00, 2017-07-26 00:00:00, 2017-07-27 00:00:00, 2017-07-28 00:00:00, 2017-07-29 00:00:00, 2017-07-30 00:00:00, 2017-07-31 00:00:00, 2017-08-01 00:00:00, 2017-08-02 00:00:00, 2017-08-03 00:00:00, 2017-08-04 00:00:00, 2017-08-05 00:00:00, 2017-08-06 00:00:00, 2017-08-07 00:00:00, 2017-08-08 00:00:00, 2017-08-09 00:00:00, 2017-08-10 00:00:00, 2017-08-11 00:00:00, 2017-08-12 00:00:00, 2017-08-13 00:00:00, 2017-08-14 00:00:00, 2017-08-15 00:00:00]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226]],
           names=[None, 'date'])
 promo_2017_train.columns columns  get_level_values  DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-08-06', '2017-08-07', '2017-08-08', '2017-08-09',
               '2017-08-10', '2017-08-11', '2017-08-12', '2017-08-13',
               '2017-08-14', '2017-08-15'],
              dtype='datetime64[ns]', name='date', length=227, freq=None)
promo_2017_train set columns  top 5
date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-01-09  2017-01-10     ...      2017-08-06  \
store_nbr item_nbr                             ...
1         96995          False       False     ...           False
          99197          False       False     ...           False
          103520         False       False     ...           False
          103665         False       False     ...           False
          105574         False       False     ...           False

date                2017-08-07  2017-08-08  2017-08-09  2017-08-10  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-08-11  2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995          False       False       False       False       False
          99197          False       False       False       False       False
          103520         False       False       False       False       False
          103665         False       False       False       False       False
          105574         False       False       False       False       False

[5 rows x 227 columns]

In [323]:
df_2017 = df_2017.set_index(
    ["store_nbr", "item_nbr", "date"])[["unit_sales"]].unstack(
        level=-1).fillna(0)
print("df_2017 with unit_Sales ", df_2017[:2])
dfLevelValues1 = df_2017.columns.get_level_values(1)
print("get Level_values", dfLevelValues1)
df_2017.columns = dfLevelValues1
print("df_2017 after set columns: ")
print(df_2017[:2])

df_2017_index_level1 = df_2017.index.get_level_values(1)
print("df_2017 index " , df_2017_index_level1)
items = items.reindex(df_2017_index_level1)
print("items after reindex ")
print(items[:2])

df_2017_index_level0 = df_2017.index.get_level_values(0)
print("df_2017 index ")
print(df_2017_index_level1)
stores = stores.reindex(df_2017_index_level0)
print("stores after reindex ")
print(stores[:2])

df_2017 with unit_Sales                     unit_sales                                              \
date               2017-01-01 2017-01-02 2017-01-03 2017-01-04 2017-01-05
store_nbr item_nbr
1         96995           0.0        0.0   0.000000   0.000000   0.000000
          99197           0.0        0.0   1.386294   0.693147   0.693147

                                                                           \
date               2017-01-06 2017-01-07 2017-01-08 2017-01-09 2017-01-10
store_nbr item_nbr
1         96995      0.000000   0.000000        0.0        0.0   0.000000
          99197      0.693147   1.098612        0.0        0.0   0.693147

                      ...                                                  \
date                  ...     2017-08-06 2017-08-07 2017-08-08 2017-08-09
store_nbr item_nbr    ...
1         96995       ...       1.098612   1.098612        0.0   0.000000
          99197       ...       0.000000   0.000000        0.0   1.098612

                                                                           \
date               2017-08-10 2017-08-11 2017-08-12 2017-08-13 2017-08-14
store_nbr item_nbr
1         96995      0.693147        0.0        0.0        0.0        0.0
          99197      0.000000        0.0        0.0        0.0        0.0


date               2017-08-15
store_nbr item_nbr
1         96995           0.0
          99197           0.0

[2 rows x 227 columns]
get Level_values DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-08-06', '2017-08-07', '2017-08-08', '2017-08-09',
               '2017-08-10', '2017-08-11', '2017-08-12', '2017-08-13',
               '2017-08-14', '2017-08-15'],
              dtype='datetime64[ns]', name='date', length=227, freq=None)
df_2017 after set columns:
date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995            0.0         0.0    0.000000    0.000000
          99197            0.0         0.0    1.386294    0.693147

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000         0.0
          99197       0.693147    0.693147    1.098612         0.0

date                2017-01-09  2017-01-10     ...      2017-08-06  \
store_nbr item_nbr                             ...
1         96995            0.0    0.000000     ...        1.098612
          99197            0.0    0.693147     ...        0.000000

date                2017-08-07  2017-08-08  2017-08-09  2017-08-10  \
store_nbr item_nbr
1         96995       1.098612         0.0    0.000000    0.693147
          99197       0.000000         0.0    1.098612    0.000000

date                2017-08-11  2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995            0.0         0.0         0.0         0.0         0.0
          99197            0.0         0.0         0.0         0.0         0.0

[2 rows x 227 columns]
df_2017 index  Int64Index([96995, 99197, 103520, 103665, 105574, 105575, 99197], dtype='int64', name='item_nbr')
items after reindex
          family  class  perishable
item_nbr
96995         12   1093           0
99197         12   1067           0
df_2017 index
Int64Index([96995, 99197, 103520, 103665, 105574, 105575, 99197], dtype='int64', name='item_nbr')
stores after reindex
           city  state  type  cluster
store_nbr
1            18     12     3       13
1            18     12     3       13

In [324]:
#group by one index column and aggregate
grpByDF2017 = df_2017.groupby('item_nbr')
print("after group by")
print(grpByDF2017)
df_2017_item = grpByDF2017[df_2017.columns].sum()
print("df_2017_item after sum ", df_2017_item[:5])

#group by one index column and aggregate
promo_2017_item = promo_2017.groupby('item_nbr')[promo_2017.columns].sum()
print("promo_2017_item after sum ")
print(promo_2017_item[:5])


df_2017_store_class = df_2017.reset_index()
print("df_2017_store_class after reset_index ")
print(df_2017_store_class[:5])
df_2017_store_class['class'] = items['class'].values
print("df_2017_store_class after set class column values  ")
print(df_2017_store_class[:5])
#group by two columns class/storeNbr then sum
df_2017_store_class_index = df_2017_store_class[['class', 'store_nbr']]
df_2017_store_class = df_2017_store_class.groupby(['class', 'store_nbr'])[df_2017.columns].sum()
print("df_2017_store_class after sum ")
print(df_2017_store_class[:5])

#promotion value aggregation
df_2017_promo_store_class = promo_2017.reset_index()
df_2017_promo_store_class['class'] = items['class'].values
df_2017_promo_store_class_index = df_2017_promo_store_class[['class', 'store_nbr']]
df_2017_promo_store_class = df_2017_promo_store_class.groupby(['class', 'store_nbr'])[promo_2017.columns].sum()
print("df_2017_promo_store_class after sum ")
print(df_2017_promo_store_class[:5])

after group by
<pandas.core.groupby.DataFrameGroupBy object at 0x7f3eb7af8630>
df_2017_item after sum  date      2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  \
item_nbr
96995       0.000000    0.000000    0.000000    0.000000    0.000000
99197       0.693147    0.000000    1.386294    0.693147    0.693147
103520      0.000000    0.693147    0.000000    0.000000    0.000000
103665      0.000000    0.000000    0.000000    0.000000    0.000000
105574      0.000000    0.000000    0.000000    0.000000    0.000000

date      2017-01-06  2017-01-07  2017-01-08  2017-01-09  2017-01-10  \
item_nbr
96995       0.000000    0.000000    0.000000    0.000000    0.000000
99197       0.693147    1.098612    0.000000    0.000000    0.693147
103520      0.000000    0.000000    0.000000    0.693147    0.000000
103665      0.000000    0.000000    1.098612    0.000000    0.000000
105574      0.000000    0.000000    0.000000    0.000000    0.000000

date         ...      2017-08-06  2017-08-07  2017-08-08  2017-08-09  \
item_nbr     ...
96995        ...        1.098612    1.098612    0.000000    0.000000
99197        ...        0.000000    0.000000    0.000000    1.098612
103520       ...        0.000000    0.000000    1.386294    0.000000
103665       ...        0.000000    0.000000    0.000000    0.000000
105574       ...        0.000000    0.000000    0.000000    0.000000

date      2017-08-10  2017-08-11  2017-08-12  2017-08-13  2017-08-14  \
item_nbr
96995       0.693147    0.000000    0.000000    0.000000    0.000000
99197       0.000000    0.000000    0.000000    0.000000    0.000000
103520      0.000000    0.693147    0.693147    0.693147    0.000000
103665      0.000000    0.000000    0.000000    0.000000    0.693147
105574      0.000000    0.000000    0.000000    0.000000    0.000000

date      2017-08-15
item_nbr
96995       0.000000
99197       0.000000
103520      0.000000
103665      0.693147
105574      0.000000

[5 rows x 227 columns]
promo_2017_item after sum
date      2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  \
item_nbr
96995          False       False       False       False       False
99197          False       False       False       False       False
103520         False       False       False       False       False
103665         False       False       False       False       False
105574         False       False       False       False       False

date      2017-01-06  2017-01-07  2017-01-08  2017-01-09  2017-01-10  \
item_nbr
96995          False       False       False       False       False
99197          False       False       False       False       False
103520         False       False       False       False       False
103665         False       False       False       False       False
105574         False       False       False       False       False

date         ...      2017-08-22  2017-08-23  2017-08-24  2017-08-25  \
item_nbr     ...
96995        ...           False       False       False       False
99197        ...           False       False       False       False
103520       ...           False       False       False       False
103665       ...           False       False       False       False
105574       ...           False       False       False       False

date      2017-08-26  2017-08-27  2017-08-28  2017-08-29  2017-08-30  \
item_nbr
96995          False       False       False       False       False
99197          False       False       False       False       False
103520         False       False       False       False       False
103665         False       False       False       False       False
105574         False       False       False       False       False

date      2017-08-31
item_nbr
96995          False
99197          False
103520         False
103665         False
105574         False

[5 rows x 243 columns]
df_2017_store_class after reset_index
date  store_nbr  item_nbr  2017-01-01 00:00:00  2017-01-02 00:00:00  \
0             1     96995                  0.0             0.000000
1             1     99197                  0.0             0.000000
2             1    103520                  0.0             0.693147
3             1    103665                  0.0             0.000000
4             1    105574                  0.0             0.000000

date  2017-01-03 00:00:00  2017-01-04 00:00:00  2017-01-05 00:00:00  \
0                0.000000             0.000000             0.000000
1                1.386294             0.693147             0.693147
2                0.000000             0.000000             0.000000
3                0.000000             0.000000             0.000000
4                0.000000             0.000000             0.000000

date  2017-01-06 00:00:00  2017-01-07 00:00:00  2017-01-08 00:00:00  \
0                0.000000             0.000000             0.000000
1                0.693147             1.098612             0.000000
2                0.000000             0.000000             0.000000
3                0.000000             0.000000             1.098612
4                0.000000             0.000000             0.000000

date         ...           2017-08-06 00:00:00  2017-08-07 00:00:00  \
0            ...                      1.098612             1.098612
1            ...                      0.000000             0.000000
2            ...                      0.000000             0.000000
3            ...                      0.000000             0.000000
4            ...                      0.000000             0.000000

date  2017-08-08 00:00:00  2017-08-09 00:00:00  2017-08-10 00:00:00  \
0                0.000000             0.000000             0.693147
1                0.000000             1.098612             0.000000
2                1.386294             0.000000             0.000000
3                0.000000             0.000000             0.000000
4                0.000000             0.000000             0.000000

date  2017-08-11 00:00:00  2017-08-12 00:00:00  2017-08-13 00:00:00  \
0                0.000000             0.000000             0.000000
1                0.000000             0.000000             0.000000
2                0.693147             0.693147             0.693147
3                0.000000             0.000000             0.000000
4                0.000000             0.000000             0.000000

date  2017-08-14 00:00:00  2017-08-15 00:00:00
0                0.000000             0.000000
1                0.000000             0.000000
2                0.000000             0.000000
3                0.693147             0.693147
4                0.000000             0.000000

[5 rows x 229 columns]
df_2017_store_class after set class column values
date  store_nbr  item_nbr  2017-01-01 00:00:00  2017-01-02 00:00:00  \
0             1     96995                  0.0             0.000000
1             1     99197                  0.0             0.000000
2             1    103520                  0.0             0.693147
3             1    103665                  0.0             0.000000
4             1    105574                  0.0             0.000000

date  2017-01-03 00:00:00  2017-01-04 00:00:00  2017-01-05 00:00:00  \
0                0.000000             0.000000             0.000000
1                1.386294             0.693147             0.693147
2                0.000000             0.000000             0.000000
3                0.000000             0.000000             0.000000
4                0.000000             0.000000             0.000000

date  2017-01-06 00:00:00  2017-01-07 00:00:00  2017-01-08 00:00:00  ...    \
0                0.000000             0.000000             0.000000  ...
1                0.693147             1.098612             0.000000  ...
2                0.000000             0.000000             0.000000  ...
3                0.000000             0.000000             1.098612  ...
4                0.000000             0.000000             0.000000  ...

date  2017-08-07 00:00:00  2017-08-08 00:00:00  2017-08-09 00:00:00  \
0                1.098612             0.000000             0.000000
1                0.000000             0.000000             1.098612
2                0.000000             1.386294             0.000000
3                0.000000             0.000000             0.000000
4                0.000000             0.000000             0.000000

date  2017-08-10 00:00:00  2017-08-11 00:00:00  2017-08-12 00:00:00  \
0                0.693147             0.000000             0.000000
1                0.000000             0.000000             0.000000
2                0.000000             0.693147             0.693147
3                0.000000             0.000000             0.000000
4                0.000000             0.000000             0.000000

date  2017-08-13 00:00:00  2017-08-14 00:00:00  2017-08-15 00:00:00  class
0                0.000000             0.000000             0.000000   1093
1                0.000000             0.000000             0.000000   1067
2                0.693147             0.000000             0.000000   1028
3                0.000000             0.693147             0.693147   2712
4                0.000000             0.000000             0.000000   1045

[5 rows x 230 columns]
df_2017_store_class after sum
date             2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  \
class store_nbr
1028  1            0.000000    0.693147    0.000000    0.000000    0.000000
1045  1            0.000000    0.000000    0.000000    0.000000    0.000000
1067  1            0.000000    0.000000    1.386294    0.693147    0.693147
      25           0.693147    0.000000    0.000000    0.000000    0.000000
1093  1            0.000000    0.000000    0.000000    0.000000    0.000000

date             2017-01-06  2017-01-07  2017-01-08  2017-01-09  2017-01-10  \
class store_nbr
1028  1            0.000000    0.000000         0.0    0.693147    0.000000
1045  1            0.000000    0.000000         0.0    0.000000    0.000000
1067  1            0.693147    1.098612         0.0    0.000000    0.693147
      25           0.000000    0.000000         0.0    0.000000    0.000000
1093  1            0.000000    0.000000         0.0    0.000000    0.000000

date                ...      2017-08-06  2017-08-07  2017-08-08  2017-08-09  \
class store_nbr     ...
1028  1             ...        0.000000    0.000000    1.386294    0.000000
1045  1             ...        0.000000    0.000000    0.000000    0.000000
1067  1             ...        0.000000    0.000000    0.000000    1.098612
      25            ...        0.000000    0.000000    0.000000    0.000000
1093  1             ...        1.098612    1.098612    0.000000    0.000000

date             2017-08-10  2017-08-11  2017-08-12  2017-08-13  2017-08-14  \
class store_nbr
1028  1            0.000000    0.693147    0.693147    0.693147         0.0
1045  1            0.000000    0.000000    0.000000    0.000000         0.0
1067  1            0.000000    0.000000    0.000000    0.000000         0.0
      25           0.000000    0.000000    0.000000    0.000000         0.0
1093  1            0.693147    0.000000    0.000000    0.000000         0.0

date             2017-08-15
class store_nbr
1028  1                 0.0
1045  1                 0.0
1067  1                 0.0
      25                0.0
1093  1                 0.0

[5 rows x 227 columns]
df_2017_promo_store_class after sum
date             2017-01-01  2017-01-02  2017-01-03  2017-01-04  2017-01-05  \
class store_nbr
1028  1               False       False       False       False       False
1045  1               False       False       False       False       False
1067  1               False       False       False       False       False
      25              False       False       False       False       False
1093  1               False       False       False       False       False

date             2017-01-06  2017-01-07  2017-01-08  2017-01-09  2017-01-10  \
class store_nbr
1028  1               False       False       False       False       False
1045  1               False       False       False       False       False
1067  1               False       False       False       False       False
      25              False       False       False       False       False
1093  1               False       False       False       False       False

date                ...      2017-08-22  2017-08-23  2017-08-24  2017-08-25  \
class store_nbr     ...
1028  1             ...           False       False       False       False
1045  1             ...           False       False        True        True
1067  1             ...           False       False       False       False
      25            ...           False       False       False       False
1093  1             ...           False       False       False       False

date             2017-08-26  2017-08-27  2017-08-28  2017-08-29  2017-08-30  \
class store_nbr
1028  1               False       False       False       False       False
1045  1                True        True        True        True        True
1067  1               False       False       False       False       False
      25              False       False       False       False       False
1093  1               False       False       False       False       False

date             2017-08-31
class store_nbr
1028  1               False
1045  1                True
1067  1               False
      25              False
1093  1               False

[5 rows x 243 columns]

In [325]:
def get_timespan(df, dt, minus, periods, freq='D'):
    rangeDt = pd.date_range(dt - timedelta(days=minus), periods=periods, freq=freq)
    return df[rangeDt]

def prepare_dataset(df, promo_df, t2017, is_train=True, name_prefix=None):
    X = {
        "promo_14_2017": get_timespan(promo_df, t2017, 7, 7).sum(axis=1).values,
        "promo_60_2017": get_timespan(promo_df, t2017, 60, 60).sum(axis=1).values,
        "promo_140_2017": get_timespan(promo_df, t2017, 140, 140).sum(axis=1).values,
        "promo_3_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 3).sum(axis=1).values,
        "promo_7_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 7).sum(axis=1).values,
        "promo_14_2017_aft": get_timespan(promo_df, t2017 + timedelta(days=16), 15, 14).sum(axis=1).values,
    }
    print("X ->promo_14_2017 sum values ")
    print(X["promo_14_2017"])
    
    print("X ->promo_14_2017_aft sum values ")
    print(X["promo_14_2017_aft"])
    
    #, 30, 60, 140
    for i in [3, 7, 14]:
        tmp = get_timespan(df, t2017, i, i)
        X['diff_%s_mean' % i] = tmp.diff(axis=1).mean(axis=1).values
        X['mean_%s_decay' % i] = (tmp * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values
        X['mean_%s' % i] = tmp.mean(axis=1).values
        X['median_%s' % i] = tmp.median(axis=1).values
        X['min_%s' % i] = tmp.min(axis=1).values
        X['max_%s' % i] = tmp.max(axis=1).values
        X['std_%s' % i] = tmp.std(axis=1).values
    print("X ->median_7  values ")
    print(X["median_7"])
    
    #, 30, 60, 140
    for i in [3, 7, 14]:
        tmp = get_timespan(df, t2017 + timedelta(days=-7), i, i)
        X['diff_%s_mean_2' % i] = tmp.diff(axis=1).mean(axis=1).values
        X['mean_%s_decay_2' % i] = (tmp * np.power(0.9, np.arange(i)[::-1])).sum(axis=1).values
        X['mean_%s_2' % i] = tmp.mean(axis=1).values
        X['median_%s_2' % i] = tmp.median(axis=1).values
        X['min_%s_2' % i] = tmp.min(axis=1).values
        X['max_%s_2' % i] = tmp.max(axis=1).values
        X['std_%s_2' % i] = tmp.std(axis=1).values
    print("X ->mean_7_2  values ")
    print(X["mean_7_2"])
    #, 60, 140
    for i in [7, 14, 30]:
        tmp = get_timespan(df, t2017, i, i)
        X['has_sales_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_sales_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_sales_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

        tmp = get_timespan(promo_df, t2017, i, i)
        X['has_promo_days_in_last_%s' % i] = (tmp > 0).sum(axis=1).values
        X['last_has_promo_day_in_last_%s' % i] = i - ((tmp > 0) * np.arange(i)).max(axis=1).values
        X['first_has_promo_day_in_last_%s' % i] = ((tmp > 0) * np.arange(i, 0, -1)).max(axis=1).values

    tmp = get_timespan(promo_df, t2017 + timedelta(days=16), 15, 15)
    X['has_promo_days_in_after_15_days'] = (tmp > 0).sum(axis=1).values
    X['last_has_promo_day_in_after_15_days'] = i - ((tmp > 0) * np.arange(15)).max(axis=1).values
    X['first_has_promo_day_in_after_15_days'] = ((tmp > 0) * np.arange(15, 0, -1)).max(axis=1).values

    for i in range(1, 16):
        X['day_%s_2017' % i] = get_timespan(df, t2017, i, 1).values.ravel()

    for i in range(7):
        X['mean_4_dow{}_2017'.format(i)] = get_timespan(df, t2017, 28-i, 4, freq='7D').mean(axis=1).values
        X['mean_20_dow{}_2017'.format(i)] = get_timespan(df, t2017, 140-i, 20, freq='7D').mean(axis=1).values

    for i in range(-16, 16):
        X["promo_{}".format(i)] = promo_df[t2017 + timedelta(days=i)].values.astype(np.uint8)

    X = pd.DataFrame(X)

    if is_train:
        y = df[
            pd.date_range(t2017, periods=16)
        ].values
        return X, y
    if name_prefix is not None:
        X.columns = ['%s_%s' % (name_prefix, c) for c in X.columns]
    return X 

t2017 = date(2017, 5, 31)
delta = timedelta(days=1 * 2)
print("delta ", delta)
#X_tmp, y_tmp = prepare_dataset(df_2017, promo_2017, t2017 + delta)
print("promo_2017 " , promo_2017[:3])
#last 7 days, period 7 got a time span from promo_2017
promo_14_2017 = get_timespan(promo_2017, t2017, 7, 7)
print("promo_14_2017 " , promo_14_2017[:5])

#sum according to row.
promo_14_2017Sum = promo_14_2017.sum(axis=1)
print("promo_14_2017Sum " , promo_14_2017Sum[:5])


promo_14_2017SumValues = promo_14_2017Sum.values
print("promo_14_2017SumValues " , promo_14_2017SumValues[:5])

delta  2 days, 0:00:00
promo_2017  date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False

date                2017-01-09  2017-01-10     ...      2017-08-22  \
store_nbr item_nbr                             ...
1         96995          False       False     ...           False
          99197          False       False     ...           False
          103520         False       False     ...           False

date                2017-08-23  2017-08-24  2017-08-25  2017-08-26  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False

date                2017-08-27  2017-08-28  2017-08-29  2017-08-30  2017-08-31
store_nbr item_nbr
1         96995          False       False       False       False       False
          99197          False       False       False       False       False
          103520         False       False       False       False       False

[3 rows x 243 columns]
promo_14_2017  date                2017-05-24  2017-05-25  2017-05-26  2017-05-27  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-05-28  2017-05-29  2017-05-30
store_nbr item_nbr
1         96995          False       False       False
          99197          False       False       False
          103520         False       False       False
          103665         False       False       False
          105574         False       False       False
promo_14_2017Sum  store_nbr  item_nbr
1          96995       0
           99197       0
           103520      0
           103665      0
           105574      0
dtype: int64
promo_14_2017SumValues  [0 0 0 0 0]

In [326]:
#last 3 days data 
df_2017_last3d = get_timespan(df_2017, t2017, 3, 3)
print("last 3 days df ", df_2017_last3d[:5])

#Difference with previous column
print("last 3 days df diff ", df_2017_last3d.diff(axis=1)[:5])
#mean: average 
print("last 3 days df diff mean ", df_2017_last3d.diff(axis=1).mean(axis=1)[:5])
X= {}
X['diff_3_mean'] = df_2017_last3d.diff(axis=1).mean(axis=1).values

tmp = df_2017_last3d
#last 3 days data, whether > 0 for each day/each item
print("tmp>0", (tmp>0)[:5])

print("(tmp>0) * np.arrange(3)", ((tmp > 0) * np.arange(3))[:5])

#in the last 3 days, totally how many days have sales data? aggregation days.
X['has_sales_days_in_last_3'] = (tmp > 0).sum(axis=1).values
print("has_sales_days_in_last_3 " , X['has_sales_days_in_last_3'])

#in the last 3 days, last day that has sales data, eg: day0  or day1 or day3
X['last_has_sales_day_in_last_3'] = 2 - ((tmp > 0) * np.arange(3)).max(axis=1).values
print("last_has_sales_day_in_last_3 " , X['last_has_sales_day_in_last_3'])

#in the last 3 days, the first day that has sales data. 
X['first_has_sales_day_in_last_3'] = ((tmp > 0) * np.arange(3, 0, -1)).max(axis=1).values
print("first_has_sales_day_in_last_3 " ,  ((tmp > 0) * np.arange(3, 0, -1)).max(axis=1))

last 3 days df  date                2017-05-28  2017-05-29  2017-05-30
store_nbr item_nbr
1         96995       0.693147    0.000000    0.000000
          99197       0.000000    0.693147    0.000000
          103520      0.000000    0.000000    0.000000
          103665      0.000000    0.000000    0.000000
          105574      0.000000    0.000000    1.098612
last 3 days df diff  date                2017-05-28  2017-05-29  2017-05-30
store_nbr item_nbr
1         96995            NaN   -0.693147    0.000000
          99197            NaN    0.693147   -0.693147
          103520           NaN    0.000000    0.000000
          103665           NaN    0.000000    0.000000
          105574           NaN    0.000000    1.098612
last 3 days df diff mean  store_nbr  item_nbr
1          96995      -0.346574
           99197       0.000000
           103520      0.000000
           103665      0.000000
           105574      0.549306
dtype: float64
tmp>0 date                2017-05-28  2017-05-29  2017-05-30
store_nbr item_nbr
1         96995           True       False       False
          99197          False        True       False
          103520         False       False       False
          103665         False       False       False
          105574         False       False        True
(tmp>0) * np.arrange(3) date               2017-05-28 2017-05-29 2017-05-30
store_nbr item_nbr
1         96995             0          0          0
          99197             0          1          0
          103520            0          0          0
          103665            0          0          0
          105574            0          0          2
has_sales_days_in_last_3  [1 1 0 0 1 0 0]
last_has_sales_day_in_last_3  [2. 1. 2. 2. 0. 2. 2.]
first_has_sales_day_in_last_3  store_nbr  item_nbr
1          96995       3.0
           99197       2.0
           103520      0.0
           103665      0.0
           105574      1.0
           105575      0.0
25         99197       0.0
dtype: float64

In [327]:
delta = timedelta(days=7 * 1)
print("df_2017 in data , unitSales for store, item ")
print(df_2017[:5])
print("promo_2017 in data")
print(promo_2017[:5])
X_tmp, y_tmp = prepare_dataset(df_2017, promo_2017, t2017 + delta)
print(X_tmp)
print(y_tmp)

df_2017 in data , unitSales for store, item
date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995            0.0    0.000000    0.000000    0.000000
          99197            0.0    0.000000    1.386294    0.693147
          103520           0.0    0.693147    0.000000    0.000000
          103665           0.0    0.000000    0.000000    0.000000
          105574           0.0    0.000000    0.000000    0.000000

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000
          99197       0.693147    0.693147    1.098612    0.000000
          103520      0.000000    0.000000    0.000000    0.000000
          103665      0.000000    0.000000    0.000000    1.098612
          105574      0.000000    0.000000    0.000000    0.000000

date                2017-01-09  2017-01-10     ...      2017-08-06  \
store_nbr item_nbr                             ...
1         96995       0.000000    0.000000     ...        1.098612
          99197       0.000000    0.693147     ...        0.000000
          103520      0.693147    0.000000     ...        0.000000
          103665      0.000000    0.000000     ...        0.000000
          105574      0.000000    0.000000     ...        0.000000

date                2017-08-07  2017-08-08  2017-08-09  2017-08-10  \
store_nbr item_nbr
1         96995       1.098612    0.000000    0.000000    0.693147
          99197       0.000000    0.000000    1.098612    0.000000
          103520      0.000000    1.386294    0.000000    0.000000
          103665      0.000000    0.000000    0.000000    0.000000
          105574      0.000000    0.000000    0.000000    0.000000

date                2017-08-11  2017-08-12  2017-08-13  2017-08-14  2017-08-15
store_nbr item_nbr
1         96995       0.000000    0.000000    0.000000    0.000000    0.000000
          99197       0.000000    0.000000    0.000000    0.000000    0.000000
          103520      0.693147    0.693147    0.693147    0.000000    0.000000
          103665      0.000000    0.000000    0.000000    0.693147    0.693147
          105574      0.000000    0.000000    0.000000    0.000000    0.000000

[5 rows x 227 columns]
promo_2017 in data
date                2017-01-01  2017-01-02  2017-01-03  2017-01-04  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-01-05  2017-01-06  2017-01-07  2017-01-08  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-01-09  2017-01-10     ...      2017-08-22  \
store_nbr item_nbr                             ...
1         96995          False       False     ...           False
          99197          False       False     ...           False
          103520         False       False     ...           False
          103665         False       False     ...           False
          105574         False       False     ...           False

date                2017-08-23  2017-08-24  2017-08-25  2017-08-26  \
store_nbr item_nbr
1         96995          False       False       False       False
          99197          False       False       False       False
          103520         False       False       False       False
          103665         False       False       False       False
          105574         False       False       False       False

date                2017-08-27  2017-08-28  2017-08-29  2017-08-30  2017-08-31
store_nbr item_nbr
1         96995          False       False       False       False       False
          99197          False       False       False       False       False
          103520         False       False       False       False       False
          103665         False       False       False       False       False
          105574         False       False       False       False       False

[5 rows x 243 columns]
X ->promo_14_2017 sum values
[0 0 0 0 0 0 0]
X ->promo_14_2017_aft sum values
[0 0 0 0 0 0 0]
X ->median_7  values
[0.         1.09861229 0.         0.         0.         0.
 0.        ]
X ->mean_7_2  values
[0.29706308 0.25596564 0.09902103 0.         0.15694461 0.
 0.        ]
   day_10_2017  day_11_2017  day_12_2017  day_13_2017  day_14_2017  \
0     0.693147     0.693147     0.000000     0.693147     0.000000
1     0.000000     0.000000     0.000000     0.000000     1.098612
2     0.000000     0.000000     0.693147     0.000000     0.000000
3     0.000000     0.000000     0.000000     0.000000     0.000000
4     0.000000     0.000000     0.000000     0.000000     0.000000
5     0.000000     0.000000     0.000000     0.000000     0.000000
6     0.000000     0.000000     0.000000     0.000000     0.000000

   day_15_2017  day_1_2017  day_2_2017  day_3_2017  day_4_2017    ...     \
0     0.000000    0.000000    0.000000    0.000000     0.00000    ...
1     0.000000    0.000000    1.098612    1.098612     1.94591    ...
2     1.098612    1.609438    0.000000    0.000000     0.00000    ...
3     0.000000    0.000000    0.000000    0.000000     0.00000    ...
4     0.000000    0.000000    0.000000    0.000000     0.00000    ...
5     0.000000    0.000000    0.000000    0.000000     0.00000    ...
6     0.000000    0.000000    0.000000    0.000000     0.00000    ...

   promo_7  promo_7_2017_aft  promo_8  promo_9    std_14  std_14_2     std_3  \
0        0                 0        0        0  0.324952  0.295153  0.000000
1        0                 0        0        0  0.676691  0.481653  0.634284
2        0                 0        0        0  0.455060  0.434790  0.929209
3        0                 0        0        0  0.000000  0.000000  0.000000
4        0                 0        0        0  0.293616  0.293616  0.000000
5        0                 0        0        0  0.000000  0.293616  0.000000
6        0                 0        0        0  0.000000  0.000000  0.000000

    std_3_2     std_7   std_7_2
0  0.400189  0.261985  0.370503
1  0.400189  0.713370  0.452543
2  0.000000  0.608310  0.261985
3  0.000000  0.000000  0.000000
4  0.634284  0.000000  0.415236
5  0.000000  0.000000  0.000000
6  0.000000  0.000000  0.000000

[7 rows x 130 columns]
[[0.         0.         0.69314718 0.         0.         0.
  0.         0.69314718 0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.69314718 0.         1.60943791 0.         1.09861229
  0.69314718 0.         1.09861229 0.         0.69314718 0.
  1.09861229 2.63905733 0.69314718 0.        ]
 [0.69314718 0.         0.         0.         0.         0.
  0.         0.         0.         0.69314718 0.         0.
  0.         0.         0.         1.38629436]
 [0.         0.         0.         0.         1.09861229 0.
  0.         0.         0.         0.         0.         0.69314718
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]]

In [328]:
X_tmp2 = prepare_dataset(df_2017_item, promo_2017_item, t2017 + delta, is_train=False, name_prefix='item')
X_tmp2.index = df_2017_item.index
X_tmp2 = X_tmp2.reindex(df_2017.index.get_level_values(1)).reset_index(drop=True)

print(X_tmp2)

X ->promo_14_2017 sum values
[0 0 0 0 0 0]
X ->promo_14_2017_aft sum values
[0 0 0 0 0 0]
X ->median_7  values
[0.         1.09861229 0.         0.         0.         0.        ]
X ->mean_7_2  values
[0.29706308 0.25596564 0.09902103 0.         0.15694461 0.        ]
   item_day_10_2017  item_day_11_2017  item_day_12_2017  item_day_13_2017  \
0          0.693147          0.693147          0.000000          0.693147
1          0.000000          0.000000          0.000000          0.000000
2          0.000000          0.000000          0.693147          0.000000
3          0.000000          0.000000          0.000000          0.000000
4          0.000000          0.000000          0.000000          0.000000
5          0.000000          0.000000          0.000000          0.000000
6          0.000000          0.000000          0.000000          0.000000

   item_day_14_2017  item_day_15_2017  item_day_1_2017  item_day_2_2017  \
0          0.000000          0.000000         0.000000         0.000000
1          1.098612          0.000000         0.000000         1.098612
2          0.000000          1.098612         1.609438         0.000000
3          0.000000          0.000000         0.000000         0.000000
4          0.000000          0.000000         0.000000         0.000000
5          0.000000          0.000000         0.000000         0.000000
6          1.098612          0.000000         0.000000         1.098612

   item_day_3_2017  item_day_4_2017      ...       item_promo_7  \
0         0.000000          0.00000      ...                  0
1         1.098612          1.94591      ...                  0
2         0.000000          0.00000      ...                  0
3         0.000000          0.00000      ...                  0
4         0.000000          0.00000      ...                  0
5         0.000000          0.00000      ...                  0
6         1.098612          1.94591      ...                  0

   item_promo_7_2017_aft  item_promo_8  item_promo_9  item_std_14  \
0                      0             0             0     0.324952
1                      0             0             0     0.676691
2                      0             0             0     0.455060
3                      0             0             0     0.000000
4                      0             0             0     0.293616
5                      0             0             0     0.000000
6                      0             0             0     0.676691

   item_std_14_2  item_std_3  item_std_3_2  item_std_7  item_std_7_2
0       0.295153    0.000000      0.400189    0.261985      0.370503
1       0.481653    0.634284      0.400189    0.713370      0.452543
2       0.434790    0.929209      0.000000    0.608310      0.261985
3       0.000000    0.000000      0.000000    0.000000      0.000000
4       0.293616    0.000000      0.634284    0.000000      0.415236
5       0.293616    0.000000      0.000000    0.000000      0.000000
6       0.481653    0.634284      0.400189    0.713370      0.452543

[7 rows x 130 columns]

In [329]:
X_test = prepare_dataset(df_2017, promo_2017, date(2017, 9, 1), is_train=False)
print(X_test)

KeyError: "DatetimeIndex(['2017-09-09', '2017-09-10', '2017-09-11', '2017-09-12',\n               '2017-09-13', '2017-09-14', '2017-09-15'],\n              dtype='datetime64[ns]', freq='D') not in index"