In [1]:
# 首先 import 必要的模块
import pandas as pd 
import numpy as np

from sklearn.model_selection import GridSearchCV

#竞赛的评价指标为logloss
from sklearn.metrics import log_loss  

from matplotlib import pyplot
import seaborn as sns
%matplotlib inline

In [8]:
# path to where the data lies
dpath = '../../data/'
train = pd.read_csv(dpath +"incomeClassTrainMapped.csv")
train.head()

,Unnamed: 0,Age,workclass,People,Education,EduNum,Marriage,WorkType,Family,Race,Sex,capitalgain,capitalloss,hours,Country,Income
0,0,39,0,77516,0,13,0,0,0,0,0,2174,0,40,0,0
1,1,50,1,83311,0,13,1,1,1,0,0,0,0,13,0,0
2,2,38,2,215646,1,9,2,2,0,0,0,0,0,40,0,0
3,3,53,2,234721,2,7,1,2,1,1,0,0,0,40,0,0
4,4,28,2,338409,0,13,1,3,2,1,1,0,0,40,1,0

In [9]:
y_train = train["Income"]

train = train.drop(["Income"], axis=1)
X_train = np.array(train)
X_train

array([[    0,    39,     0, ...,     0,    40,     0],
       [    1,    50,     1, ...,     0,    13,     0],
       [    2,    38,     2, ...,     0,    40,     0],
       ...,
       [32558,    58,     2, ...,     0,    40,     0],
       [32559,    22,     2, ...,     0,    20,     0],
       [32560,    52,     6, ...,     0,    40,     0]])

In [10]:
# 数据标准化
from sklearn.preprocessing import StandardScaler

# 初始化特征的标准化器
ss_X = StandardScaler()

# 分别对训练和测试数据的特征进行标准化处理
X_train = ss_X.fit_transform(X_train)
X_train

/usr/local/python36/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

array([[-1.73199761,  0.03067056, -1.88460023, ..., -0.21665953,
        -0.03542945, -0.25574647],
       [-1.73189123,  0.83710898, -1.0687461 , ..., -0.21665953,
        -2.22215312, -0.25574647],
       [-1.73178484, -0.04264203, -0.25289198, ..., -0.21665953,
        -0.03542945, -0.25574647],
       ...,
       [ 1.73178484,  1.42360965, -0.25289198, ..., -0.21665953,
        -0.03542945, -0.25574647],
       [ 1.73189123, -1.21564337, -0.25289198, ..., -0.21665953,
        -1.65522476, -0.25574647],
       [ 1.73199761,  0.98373415,  3.01052452, ..., -0.21665953,
        -0.03542945, -0.25574647]])

In [11]:
from joblib import dump

dump(X_train, './X_train.joblib_dat')
dump(y_train, './y_train.joblib_dat')

['./y_train.joblib_dat']