In [1]:
# 首先 import 必要的模块
import pandas as pd 
import numpy as np

from sklearn.model_selection import GridSearchCV

#竞赛的评价指标为logloss
from sklearn.metrics import log_loss  

from matplotlib import pyplot
import seaborn as sns
%matplotlib inline

In [2]:
# 读取数据
# path to where the data lies
dpath = '../data/'
train = pd.read_csv(dpath +"incomeClassTrainMapped.csv")
train.head()

,Unnamed: 0,Age,workclass,People,Education,EduNum,Marriage,WorkType,Family,Race,Sex,capitalgain,capitalloss,hours,Country,Income
0,0,39,0,77516,0,13,0,0,0,0,0,2174,0,40,0,0
1,1,50,1,83311,0,13,1,1,1,0,0,0,0,13,0,0
2,2,38,2,215646,1,9,2,2,0,0,0,0,0,40,0,0
3,3,53,2,234721,2,7,1,2,1,1,0,0,0,40,0,0
4,4,28,2,338409,0,13,1,3,2,1,1,0,0,40,1,0

In [3]:
y_train = train["Income"]

train = train.drop(["Income"], axis=1)
X_train = np.array(train)
X_train

array([[    0,    39,     0, ...,     0,    40,     0],
       [    1,    50,     1, ...,     0,    13,     0],
       [    2,    38,     2, ...,     0,    40,     0],
       ...,
       [32558,    58,     2, ...,     0,    40,     0],
       [32559,    22,     2, ...,     0,    20,     0],
       [32560,    52,     6, ...,     0,    40,     0]])

In [5]:
from sklearn.model_selection import train_test_split

# 将训练集合拆分成训练集和校验集，在校验集上找到最佳的模型超参数（PCA的维数）
X_train_part, X_val, y_train_part, y_val = train_test_split(X_train,y_train, train_size = 0.8,random_state = 0)

/usr/local/python36/lib/python3.6/site-packages/sklearn/model_selection/_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)